// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #03506f;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #a3ddcb;
$gray: #0E0000;
$light-gray: #F4F4F4;
$pink: #ffe3de;
$tiber: #09383E;
$elephant: #0C383E;
$white: #fff;

