/*General settings */

//Fonts
@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");

//Mixins
@mixin vertical-centering {
  top: 50%;
  transform: translateY(-50%);
}

//Animations
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes descend {
  from {
    top: 45%;
  }
  to {
    top: 50%;
  }
}

//Media Queries
$mobile-width: 340px;
$tablet-width: 530px;

@mixin mobile {
  @media (min-width: #{$mobile-width}) and (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@include mobile {
  .login-page,
  .home-page {
    height: 500px !important;
  }
  .login-page {
    width: 100% !important;
    font-size: 14px !important;
    .login-page-inner {
      width: 250px !important;
      #user-icon-container {
        width: 120px !important;
        height: 120px !important;
        font-size: 100% !important;
        .user-icon-bg,
        .fa-user {
          width: 120px !important;
          height: 120px !important;
        }
        .fa-user-o {
          top: -100px !important;
        }
      }
    }
  }
  #password {
    width: 200px !important;
  }
  #submit {
    height: 29px !important;
  }
  .home-page,
  .taskbar {
    width: 100% !important;
  }
  .main {
    height: 460px !important;
  }
  .startup-menu {
    top: -172px !important;
  }
  .taskbar {
    justify-content: space-around !important;
  }
  .startup-button {
    border-right: 1px solid white;
  }
  .searchbar-container {
    display: none !important;
  }
}

// Main Containers 

.show-container {
	justify-content: center;
	text-align: center;
  height: 100vh;
  background-image: asset-url('laptop.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  overflow: hidden;
  padding-top: 13%;
  padding-left: 30%;
  padding-right: 30%;
  padding-bottom: 10%;
}

.container-global {
  height: 100%;
  font-family: 'Syne', sans-serif;
  font-size: 15px;
  line-height: 2px;
  text-align: center;
  width: 100%;
  overflow: hidden;
  position: static;
}

.container-principal {
  height: 90%;
  font-family: 'Syne', sans-serif;
  font-size: 15px;
  line-height: 2px;
  text-align: center;
  width: 100%;
  overflow: hidden;
  position: static;
}

// Login Page

.login-page {
  @include vertical-centering;
}

#username-container {
  margin-top: 20px;
  font-family: 'Syne', sans-serif;
  color: $darkblue;
}

.user-icon-bg {
  margin: 30% auto 0;
  width: 140px;
  height: 140px;
  border-radius: 100%;
  background-image: asset-url('my_profile.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  cursor: pointer;
}

/* Pinned Apps */

.container-icons {
  width: 15%;
  height: 15%;
  position: static;
}

.fa-address-card {
  color: $darkblue;
  text-decoration: none;
  font-size: 30px;
}

.fa-folder {
  color: $darkblue;
  text-decoration: none;
  font-size: 30px;
}

.fab:hover {
  color: $lightblue;
}

.fa-linkedin {
  color: $darkblue;
  text-decoration: none;
  font-size: 30px;
}

.fa-github-alt {
  color: $darkblue;
  text-decoration: none;
  font-size: 30px;
}

.fas:hover {
  color: $lightblue;
}

.icon-card {
  margin-bottom: 20px;
}

.icon-card a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
}

.icon-card a:hover {
  color: $lightblue;
}

.card-icon {
  overflow: hidden;
  display: flex;
  align-items: center;
}


.card-icon .card-icon-infos {
  margin-top: 5vh;
}

/* Profile Part */

.hidden {
  display: none;
} 

.container-cards {
  width: 100%;
  overflow: hidden;
  height: 25vw;
  background: white;
  align-items: center;
  margin-top: 5vh;
  border-radius: 6px;
}

.card-resume {
  // display: flex;
  width: 100%;
}

.card-resume img {
  width: 70%;
  margin-top: 5%;
}

.card-resume h6 {
  font-size: 16px;
  margin: 0;
  text-align: center;
}

.card-resume p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-resume .card-resume-info {
  padding: 2.2em;
  width: 100%;
  color: $darkblue;
  text-align: justify;
}


/* Projects Part */
.d-none {
  display: none;
}

.container-projects {
  width: 100%;
  overflow: hidden;
  height: 350px;
  align-items: flex-start;
  margin-top: 5vh;
  display: flex;
}

.btn-lightblue {
  background: $lightblue;
}

.card-projects {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  width: 100%;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 2px;
  margin-left: 15px;
}

.card-body a {
  text-align: center;
  text-decoration: none;
  color: $darkblue;
}

.card-body a:hover {
  color: $lightblue;
}