/*General settings */
.show-container {
  margin: 0 auto; 
  width: 40%;
  height: 100vh;
  font-family: 'Syne', sans-serif;
  color: #03506f;
  font-size: 15px;
  line-height: 2px;
  padding: 200px 1px;

  h1{
    color: #0a043c;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    line-height:2px;
    padding: auto;
    margin: auto;

  p {
    color: #03506f;
    padding: auto;
    margin: auto;

  h2 {
   color: #a3ddcb;
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
    line-height: 2px;
    padding: auto;
    margin: auto;
  }
  }
  }
}

/* Card */


.btn-action {
  background-color: #ffe3de;
  color: #03506f;
  padding: 15px 20px;
  border-radius: 5px;
  border-width: 0.08em;
  border-color: #ffe3de;
  font-family: 'Syne', sans-serif;
}

.btn-action:hover {
  text-decoration: none;
  background-color: #a7cfe8;
  color: white;
}

.fab {
  color: #0a043c;
  text-decoration: none;
  font-size: 30px;
}

.fab:hover {
  color: #a7cfe8;
}

.list-inline > li {
  display: inline-block;
  padding: auto;
  text-align: center;
  margin: auto 5px;
}

.list-inline {
  list-style: none;
  padding: auto;
  text-align: center;
  margin: 5px 50px 20px;
}

.card-product {
  overflow: hidden;
  display: flex;
  align-items: center;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
  display:flex;
}
