/*General settings */
.show-container {
  margin: 0 auto; 
  width: 40%;
  height: 100vh;
  font-family: 'Syne', sans-serif;
  color: #03506f;
  font-size: 15px;
  line-height: 2px;
  padding: 200px 1px;
  display: flex;
}

/* Icon Card */
.container-icons {
  width: 15%;
  height: 15%;
}

.fab {
  color: $darkblue;
  text-decoration: none;
  font-size: 30px;
}

.fab:hover {
  color: $lightblue;
}

.fas {
  color: $darkblue;
  text-decoration: none;
  font-size: 30px;
}

.fas:hover {
  color: $lightblue;
}

.icon-card {
  margin-bottom: 20px;
}

.icon-card a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
}

.icon-card a:hover {
  color: $lightblue;
}

.card-icon {
  overflow: hidden;
  display: flex;
  align-items: center;
}


.card-icon .card-icon-infos {
  padding: 16px;
  // display:flex;
}

/* Resume Card */

.hidden {
  display: none;
} 

.container-cards {
  width: 100%;
  overflow: hidden;
  height: 350px;
  background: white;
  box-shadow: 0 0 15px;
  // display: flex;
  align-items: center;
  margin: 20px;
}

.card-resume {
  display: flex;
}

.card-resume img {
  object-fit: cover;
  width: 100px;
  border-radius: 50%;
  margin-left: 10px;
  margin-top: 10px;
}

.card-resume h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-resume p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-resume .card-resume-info {
  padding: 16px;
  width: 100%;
  color: $darkblue;
}

.card-stack img {
  object-fit: cover;
  width: 100%;
  margin-left: 10px;
  margin-top: 10px;
}

.card-stack-info{
  margin: 30px 40px;
}
