<div class="container__item landing-page-container">
  <div class="content__wrapper">

    <div class="ellipses-container">
        <div class="ellipses ellipses__outer--thin">
          <div class="ellipses ellipses__orbit"></div>
        </div>
        <div class="ellipses ellipses__outer--thick"></div>
    </div>

    <h2 class="greeting"><%= link_to "Enter", show_path %></h2>
  </div>
</div>
