/* Button Enter */

.btn-greeting {
	opacity: 0.5;
	margin-bottom: 60px;
	margin-top: 25%;
	position: static;
}

button p {
  text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 4rem;
	font-size: 2.2rem;
	font-weight: 400;
}

.btn-greeting a::backdrop{
	background-image: asset-url('logo.gif');
}