/* Windows navbar */ 

.navbar {
  color: $darkblue;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  background: white;
}

.datetime {
  color: $darkblue;
  font-weight: 600;
  margin-left: 90%;
}

.datetime p {
  margin-top: 4%;
  margin-bottom: 1rem;
  margin-right: 1em;
  text-align: center;
}

.clock {
  color: $darkblue;
  font-weight: 600;
  display: flex;
}